* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --COLOR-WHITE: #fff;
    --COLOR-BLUE: #01579B;
    --COLOR-ORANGE: #ED4627;
    --ENROLLMENT-FORM-PADDING: 1rem;
}

main {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

    height: 100vh;
    background-image: url('Folder/Thumbnail.PNG');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.enrollment {
    width: 50vw;
    max-width: 500px;
    background-color: var(--COLOR-WHITE);
    border-radius: 10px;
    border: 1px solid var(--COLOR-BLUE);
}

.enrollment__header {
    color: var(--COLOR-WHITE);
    background-color: var(--COLOR-BLUE);
    text-shadow: 1px 1px 2px var(--COLOR-BLUE);
    border-radius: 10px 10px 0 0;
    padding: var(--ENROLLMENT-FORM-PADDING);

    /* height: 100px;
    background-image: url('Folder/Thumbnail.PNG');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat; */
}

/* text field */
.five_text_field {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    padding: var(--ENROLLMENT-FORM-PADDING);
}

.five_text_field>input {
    padding: 3px;
}

/* three radio buttons */
.three_radio_buttons {
    padding: var(--ENROLLMENT-FORM-PADDING);
}

/* buttons */
.one_submit_reset {
    padding: var(--ENROLLMENT-FORM-PADDING);
}

.one_submit_reset>input {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1rem;
    margin-right: 5px;
}

.one_submit_reset>.submit {
    background-color: var(--COLOR-ORANGE);
    color: var(--COLOR-WHITE);
}

.one_submit_reset>.reset {
    background-color: var(--COLOR-BLUE);
    color: var(--COLOR-WHITE);
}

/* one_submit_reset animation */
.one_submit_reset>input:hover {
    transition: all;
    transform: scale(1.03);
    transition-duration: 200ms;
}

/* img */
img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    object-fit: contain;
}