main {
    margin-left: auto;
    width: 75vw;
    padding: 0 1rem;
}


/* EXTRA SMALL SCREEN */
@media screen and (max-width: 481px) {
    main {
        width: 100%;
    }

}

/* SMALL SCREEN */
@media screen and (min-width: 481px) and (max-width: 768px) {
    main {
        width: 100%;
    }

}

/* MEDIUM SCREEN */
@media screen and (min-width: 768px) and (max-width: 1024px) {}

/* LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {}

/* EXTRA LARGE SCREEN */
@media screen and (min-width: 1201px) {}

/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {}